{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

<!-- 加载js Markdown 预览使用 PageDown 库生成-->
{% block scripts %}
	{{ super() }}
	{{ pagedown.include_pagedown() }}
{% endblock %}

{% block page_content %}
Hello,
{% if current_user.is_authenticated %}
	{{ current_user.username }}
{% else %}
	Stranger
{% endif %}

<div>
	{% if status %}
		{{ status }}
		{{ wtf.quick_form(form) }}
	{% endif %}
</div>

{% include '_posts.html' %}
	<div class="pagination">
		{{ macros.pagination_widget(pagination, '.index') }}
	</div>
{% endblock %}

